* {
    transition: .25s ease-in-out;
}

span {
    display: block;
    background: #fff;
    border-radius: 2px;
}

.menu-toggle {
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    background: #1a2025;
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.menu-toggle .hamburger span {
    width: 17px;
    height: 2px;
    margin: 1px 0;
}

.menu-toggle .hamburger span:nth-child(1) {
    transition-delay: .5s;
}

.menu-toggle .hamburger span:nth-child(2) {
    transition-delay: .625s;
}

.menu-toggle .hamburger span:nth-child(3) {
    transition-delay: .75s;
}

.menu-toggle .cross {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(45deg);
}

.menu-toggle .cross span:nth-child(1) {
    height: 0%;
    width: 3px;
    position: absolute;
    top: 15%;
    left: 18px;
    transition-delay: 0s;
}

.menu-toggle .cross span:nth-child(2) {
    width: 0%;
    height: 3px;
    position: absolute;
    left: 11%;
    top: 18px;
    transition-delay: .25s;
}

.menu-toggle.open .hamburger span {
    width: 0%;
}

.menu-toggle.open .hamburger span:nth-child(1) {
    position: relative;

    transition-delay: 0s;
}

.menu-toggle.open .hamburger span:nth-child(2) {
    position: relative;

    transition-delay: .125s;
}

.menu-toggle.open .hamburger span:nth-child(3) {
    position: relative;

    transition-delay: .25s;
}

.menu-toggle.open .cross span:nth-child(1) {

    height: 80%;
    transition-delay: .625s;
}

.menu-toggle.open .cross span:nth-child(2) {
    width: 80%;
    transition-delay: .375s;
}

.menu-toggle .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
}
